$fontsPath: '../fonts';

@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-ExtraBold.ttf') format('ttf');
  font-weight: 800;
}
@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-ExtraLight.ttf') format('ttf');
  font-weight: 200;
}
@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-Light.ttf') format('ttf');
  font-weight: 300;
}
@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: Raleway;
  src: url('#{$fontsPath}/Raleway/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
}
