$primary: 'Manrope', sans-serif;
//$secondary: 'Montserrat', $primary, sans-serif;

$base-font-size: 16;
$font-size-root: 16px;

$font-size-lg: 1.111rem !default;
$font-size-sm: 0.888rem !default;
$font-size-xs: 0.777rem !default;

$font-size-h1: 3.333rem !default;
$font-size-h2: 2.222rem !default;
$font-size-h3: 1.777rem !default;
$font-size-h4: 1.222rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 0.888rem !default;

$font-weight-base: 300 !default;

$line-height-base: 1.4 !default;
$line-height-sm: 1.3 !default;
$line-height-xs: 1.2 !default;

$line-height-h1: 1 !default;
$line-height-h2: 1 !default;
$line-height-h3: 1 !default;
$line-height-h4: 1 !default;
$line-height-h5: 1 !default;
$line-height-h6: 1 !default;
