.auth_card {
  max-width: 520px;
  max-height: 432px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px 32px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.06);
}

.auth_desc {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  align-items: baseline;
  margin-bottom: 40px;
}

.desc_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.desc_button {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #3D7F1A;

  &:hover {
    color: #50aa22;
    cursor: pointer;
  }
}

.auth_form {
  max-width: 400px;
  width: 100%;
}

.auth_form_block {
  max-width: 400px;
  width: 100%;
}

.auth_remember {
  display: flex;
  align-items: center;
}
.auth_button{
  margin-top: 20px;
  width: 100%;
  background-color: #619C42!important;
  border-color:#619C42!important;
  &:hover{
    background-color: #28a745!important;
  }
}





.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox+label:hover::before {
  border-color: #68b143;
  cursor: pointer;
}



/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border-color: #619C42;
  background-color: #619C42;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}
