*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}


article > * + * {
  margin-top: 1em;
}

button {
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  button,
  a {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

a {
  &:focus {
    outline: none;
  }
}

input::-ms-clear {
  display: none;
}

.hidden-block {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }
}

button {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

:disabled {
  cursor: default;
  border: none;
}

html {
  height: 100%;
}

body {
  font-family: $primary;
  font-size: $font-size-root;
  height: 100%;
}

.hidden-overflow {
  overflow: hidden;
  position: relative;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

textarea,
input:matches([type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url']) {
  -webkit-appearance: none;
}
