.main-wrapper {
  background-color: #F4F6F4;;
  height: 100vh;
  width: 100%;
}
.background_birds{
height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.main-logo-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px 80px;
}
.main-block-text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #656565;
}
.constanta_logo{
  @include breakpoint(570px){
    display: none;
  }
}
