.footer {
  width: 100%;
  height: 80px;
  background-color: #124193;
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    height: 130px;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 87.5%;
    margin: 0 auto;

    @include breakpoint(sm) {
      width: 89.9%;
    }

    @include breakpoint(md) {
      max-width: 96.093%;
      width: 92%;
    }

    @include breakpoint(lg) {
      max-width: 1600px;
    }
  }

  &__logo {
    margin: auto auto 0 0;

    @include breakpoint(sm) {
      margin: auto;
      margin-left: 0;
    }

    @include breakpoint(md) {
      margin-right: 29px;
    }

    @include breakpoint(lg) {
      margin-right: 34px;
    }
  }

  &__partners {
    display: none;

    @include breakpoint(sm) {
      display: flex;
      flex-direction: row;
    }

    &--fegime {
      margin-right: 25px;
      @include breakpoint(md) {
        margin-right: 26px;
      }
    }

    &--fegimeImg {
      @include breakpoint(xxl) {
        height: 62px;
      }
    }

    &--fairPosition {
    }

    &--fairPositionImg {
      @include breakpoint(xxl) {
        height: 62px;
      }
    }
  }

  &__copyright {
    color: #fff;
    display: none;

    @include breakpoint(md) {
      display: block;
      margin: 0 auto 0 0;
      font-size: 14px;
      line-height: 34px;
      font-weight: 400;
    }
  }
}
