.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  @include breakpoint(sm) {
    height: 138px;
    margin-bottom: -5px;
  }

  @include breakpoint(md) {
    margin-bottom: 22px;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 87.5%;
    margin: 0 auto;

    @include breakpoint(sm) {
      width: 89.5%;
    }

    @include breakpoint(md) {
      max-width: 96.093%;
      width: 92%;
    }

    @include breakpoint(lg) {
      max-width: 1600px;
    }
  }

  &__logo {
    margin: auto auto 0 0;

    @include breakpoint(sm) {
      margin: auto;
      margin-left: 0;
    }
  }

  &__btn {
    padding: 20px 17px 23px 16px;
    font-size: 1rem;
    display: none;

    @include breakpoint(lg) {
      display: block;
    }
  }

  &__storeIcon {
    margin-left: 8px;
  }

  &__arrowIcon {
    margin-left: 15px;
  }
}
